<div id="profile">
	<center>
	<h2>
		<a href="/profile"><%= @currentUser.fname %></a>, you are the master.
	</h2>
	<h3>
		<span style="color: rgb(135, 19, 20)">Review and control your account here.</span>
	</h3>
	</center>
</div>