<p id="signup">
	Need an Account? <a href="/signup">Sign Up!</a>
</p>

<div id="banner"> 
	<img src="/images/illams.jpg">
</div>
<center>
	<div>
	<!-- make a link too signup.erb -->
		<form method="POST" action="/login">
			<label for="username">User name</label><br>
			<input type="text" name="username"><br>
			<label for="password">Password</label><br>
			<input type="password" name="password"><br>
			<input type="submit"><br>
			
		</form>
	</div>
</center>