<head>
	<style type="text/css">
		#menu {
			display: none
		}
	</style>
</head>
<p id="signup">
	Need an Account? <a href="/signup">Sign Up!</a>
</p>

<center>
	<div id="login">
		<form method="POST" action="/login">
			<label for="username">User name</label><br>
			<input type="text" name="username" class="login"><br>
			<label for="password">Password</label><br>
			<input type="password" name="password" class="login"><br><br>
			<button class="login">Submit</button>
			
		</form>
	</div>
</center>


<div id="ill">
	<img src="images/ill.jpg" class="illiam">
	<img src="images/lovepark.jpg">
	<img src="images/boathouserow.jpg">
	<img src="images/philadelphia-skyline.jpg">
</div>

<div id="ams">
	<img src="images/ams.jpg" class="illiam">
	<img src="images/iam.jpg">
	<img src="images/canal.jpg">
	<img src="images/amsterdam-skyline.jpg">
</div>
