<head>
	<style type="text/css">
		#menu {
			display: none
		}
	</style>
</head>
<body>
<div id="profile">
	<center>
	<h2>
		Use this form to sign up.
	</h2>
	<h3>
		<span style="color: rgb(135, 19, 20)">We can't wait to meet you!</span>
	</h3>
	</center>
</div>
<div id="joinbg">
		<img src="images/lovepark.jpg" id="love">
		<img src="images/iam.jpg" id="amst">
	</div>

	<center>
	<div id="join">
			<form method="POST" action="/signup">

				<label for="fname">Firstname</label>
				<br>
				<input type="text" name="fname" class="login">
				<br>
				<label for="lname">Lastname</label>
				<br>
				<input type="text" name="lname" class="login">
				<br>
				<label for="username">Username</label>
				<br>
				<input type="text" name="username" class="login">
				<br>
				<label for="email">Email</label>
				<br>
				<input type="text" name="email" class="login">
				<br>
				<label for="password">Password</label>
				<br>
				<input type="password" name="password" class="login">
				<br>
				<label for="country">Country</label>
				<br>
				<input type="text" name="country" class="login">
				<br>
				<label for="city">City</label>
				<br>
				<input type="text" name="city" class="login">
				<br>
				<label for="birthday">Date of Birth</label>
				<br>
				<input type="date" name="birthday" class="login">
				<br>
				<label for="gender">Gender</label>
				<br>
				<input type="radio" name="gender" value="male" class="radio">Male  
				<input type="radio" name="gender" value="female" class="radio">Female
				<br><br>
				<button class="login">Submit</button>
				<br><br><br>
			</form>
		</div>
	</center>
</body>
