
<body>
	<div>
		<form method="POST" action="/signup">

			<label for="fname">Firstname</label>
			<input type="text" name="fname">
			<br>
			<label for="lname">Lastname</label>
			<input type="text" name="lname">
			<br>
			<label for="username">Username</label>
			<input type="text" name="username">
			<br>
			<label for="email">Email</label>
			<input type="text" name="email">
			<br>
			<label for="password">Password</label>
			<input type="password" name="password">
			<br>
			<label for="country">Country</label>
			<input type="text" name="country">
			<br>
			<label for="city">City</label>
			<input type="text" name="city">
			<br>
			<label for="birthday">Date of Birth</label>
			<input type="date" name="birthday">
			<br>
			<input type="radio" name="gender" value="male">Male
			<br>
			<input type="radio" name="gender" value="female">Female
			<br><br>

			<input type="submit">

		</form>
	</div>

</body>
