
<body>
	<div>
		<form method="POST" action="/sign-in">

			<label for="fname">Firstname</label>
			<input type="text" name="fname">

			<label for="lname">Lastname</label>
			<input type="text" name="lname">

			<label for="username">Username</label>
			<input type="text" name="username">

			<label for="email">Email</label>
			<input type="text" name="email">

			<label for="password">Password</label>
			<input type="text" name="password">

			<label for="country">Country</label>
			<input type="text" name="country">

			<label for="city">City</label>
			<input type="text" name="city">

			<label for="birthday">Date of Birth</label>
			<input type="date" name="birthday">

			<input type="radio" name="gender" value="male">Male
			<br>
			<input type="radio" name="gender" value="female">Female
			<br><br>

			<input type="submit">

		</form>
	</div>

</body>
