<div>
<!-- make a link to signup.erb -->
<form method="POST" action="login">
	<label for="username">User name</label>
	<input type="text" name="username">
	<label for="password">Password</label>
	<input type="text" name="password">
	<input type="submit">
	<button type="button">Sign up</button>
</form>
</div>