<center>
<div id="profile">
	<h2>
		Here are all the phIams.
	</h2>
	<h3>
		Make friends.
	</h3>
</div>
<div>
	<% @users.each do |user| %>
</div>
	<div>
		<a href="/profiles/<%= user.id %>"><%= user.fname + " " + user.lname %></a>
	</div>
<div>	
	<% end %>
</div>
</center>