<center>
	<div id="profile">
		<h2> Here are all the phIams. </h2>
		<h3> Make friends. </h3>

		<% @users.each do |user| %>
			<a href="/profiles/<%= user.id %>"> <%= user.fname + " " + user.lname %> </a>
			<br>	
		<% end %>
	</div>
</center>